{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Automated Cyber Security Awareness Tool{% endblock %}</title>
    <!-- Favicon icon-->
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon" />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&amp;display=swap"
        rel="stylesheet" />
    <!-- Flag icon css -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/flag-icon.css' %}" />
    <!-- iconly-icon -->
    <link rel="stylesheet" href="{% static 'assets/css/iconly-icon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bulk-style.css' %}" />
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'assets/css/themify.css' %}" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-min.css' %}" />
    <!-- Weather Icons -->
    <link rel="stylesheet" type="text/css"
        href="{% static 'assets/css/vendors/weather-icons/weather-icons.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/scrollbar.css' %}" />
    {% block stylesheet %}{% endblock stylesheet %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick-theme.css' %}" />
    <!-- App css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css' %}" media="screen" />
</head>

<body>
    <!-- page-wrapper Start-->
    <!-- tap on top starts-->
    <div class="tap-top"><i class="iconly-Arrow-Up icli"></i></div>
    <!-- tap on tap ends-->
    <!-- loader-->
    <div class="loader-wrapper">
        <div class="loader"><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <header class="page-header row">
            {% include 'layouts/header.html' %}
        </header>
        <!-- Page Body Start-->
        <main class="page-body-wrapper">
            <!-- Page sidebar start-->
            <aside class="page-sidebar">
                {% include 'layouts/navbar.html' %}
            </aside>
            <!-- Page sidebar end-->
            <div class="page-body">
                {% block content %}
                <!-- Content will be injected here -->
                {% endblock %}
            </div>
            <!-- Page footer Start-->
            <footer class="footer">
                {% include 'layouts/footer.html' %}
            </footer>
            <!-- Page footer end-->
        </main>
        <!-- Page Body End-->
    </div>

    <!-- Modal content here -->
    <!-- Modal-->

  <div class="modal fade" id="create_campaign" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="create_campaign" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-toggle-wrapper social-profile text-start dark-sign-up">
            <div class="modal-header border-0">
                <h3 class="modal-title fs-5">Create Campaign</h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
         
          <div class="modal-body">
            <section id="modalContent">

            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- jquery-->
    <script src="{% static 'assets/js/vendors/jquery/jquery.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static 'assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}" defer=""></script>
    <script src="{% static 'assets/js/vendors/bootstrap/dist/js/popper.min.js' %}" defer=""></script>
    <!--fontawesome-->
    <script src="{% static 'assets/js/vendors/font-awesome/fontawesome-min.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'assets/js/sidebar.js' %}"></script>
    <!-- scrollbar-->
    <script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/scrollbar/custom.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
    <!-- custom script -->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <!-- Script to handle modal AJAX loading -->
    <script>
        // Function to open modal and load content dynamically
        "use strict";
        function openModal(url) {
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    $('#modalContent').html(data);  // Load the response content into modal
                    $('#create_campaign').modal('show'); 
                    // Show the modal
                    
                },
                error: function () {
                    $('#modalContent').html('<p>Error loading content</p>');
                }
            });
        }

    </script>
</body>

</html>